/*=================================
technology styling starts here
=================================*/
.innovative-technology {
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

.innovative-technology-left {
  width: 50%;
}

.technology .button {
  padding: 15px 44px;
  border-radius: 35px;
}

.technology h2 {
  color: #57468b;
}
.technology .para-for-h2 {
  margin-bottom: 20px;
}

.innovative-technology-right {
  width: 45%;
  padding-bottom: 15px;
  padding-left: 51px;
}

.innovative-technology-left {
  height: 100%;
  object-fit: cover;
}

/*=================================
  technology styling ends here
=================================*/
